.background{
    background-color: rgb(111, 111, 221);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.title{
    text-align: center;
}

.link{
    text-align: center;
}